<style>
    .btn-info {
        font-size: 12px;
        padding: 3px;
    }
    
    td.ng-scope {
        padding: 6px;
    }
    
    th.sorting_disabled {
        width: 100px;
    }
    
    .ellipsis2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px;
    }
</style>

<div ng-controller="baiviet" ng-init="showTableArticle()">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Bài Viết</h6>
        </div>
        <a role="button" href="/them-bai-viet" class="btn btn-info" style="width:12%;margin-left: 20px;margin-top: 10px;">Thêm Bài Viết Mới</a>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Thể Loại</th>
                            <th>Ngày tạo bài viết</th>
                            <th>Công Cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/admin/tablearticles.js"></script>
</div>