<div ng-controller="newarticle" class="container-fluid">
    <div class="card shadow mb-4" style="padding: 15px;">
        <div class="card-header py-3" style="margin-bottom: 10px;text-align: center;">
            <h6 class=" font-weight-bold text-primary" style="font-size: 20px;">THÊM BÀI VIẾT MỚI</h6>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nhập tiêu đề bài viết</label>
                <input ng-model="article.title" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Ảnh bìa( khuyến cáo đăng ảnh kích cỡ 360x240)</label>
                <input type="file" onchange="angular.element(this).scope().uploadImage(event)" class="form-control" />
            </div>
            <div style="margin-bottom: 10px;" id="imgHelp" role="alert">{{article.alert}}</div>
            <div ng-style="{'background-image':'url('+article.link+')'}" style="width: 370px;height: 225px;background-size: cover;background-repeat: no-repeat;background-position: center;margin: 0 auto"></div>
            <div class="form-group">
                <label>Nhập miêu tả tổng quan của bài viết</label>
                <textarea ng-model="article.summary" type="text" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Nhập nội dung bài viết</label>
                <textarea ng-model="article.content" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Thể loại bài viết</label>
                <select ng-model="article.category" class="form-control">
                <option value="Tin tức thể thao">Tin tức thể thao</option>
                <option value="Kỹ thuật thể thao">Kỹ thuật thể thao</option>
                <option value="Tin tức các CLB">Tin tức các CLB</option>
            </select>
            </div>
            <br>
            <div style="text-align: right;">
                <button ng-click="upload()" type="button" class="btn btn-primary">Tạo Mới</button>
            </div>
        </form>
    </div>
    <script src="js/admin/newarticle.js"></script>
</div>